{% extends 'base.html.twig' %}

{% block title %}home!{% endblock %}
{% block body %}
	{{ include('include/home.navbar.top.html.twig') }}
	<div class="container-fluid mt-2">
		<h1 class="display-4">Home page</h1>
		<hr>
	</div>
{% endblock %}
